.activity {
  background-color: $color-darkgrey;
  border-radius: 5px;

  font-size: 12px;

  min-width: 800px;
  max-width: 835px;
  width: 19vw;
  min-height: 300px;
  max-height: 320px;
  height: 19vw;
  border-radius: 10px;
}
