.aside {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: -60px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    left: 0;
  }
  img {
    cursor: pointer;
  }
  p {
    cursor: pointer;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: $color-white;
    font-size: 12px;
  }
}
