* {
  font-family: "Roboto";
}
.performance {
  border-radius: 5px;
  background-color: grey;
}
.recharts-polar-grid-concentric-polygon {
  stroke: white;
}

.radarGraph {
  background-color: $color-darkgrey;
  border-radius: 5px;

  font-size: 12px;

  min-width: 200px;
  max-width: 260px;
  width: 19vw;
  min-height: 200px;
  max-height: 260px;
  height: 19vw;
  border-radius: 10px;
}
