.userContent {
  margin: auto;
  width: 1150px;

  h1 {
    margin-bottom: 0.5em;
  }
  span {
    color: $color-red;
  }
}

.nutrition {
  width: 258px;
  .contentNutri {
    width: 258px;
    padding: 10%;
    height: 124px;
    background: #fbfbfb;
  }
  .calories {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .proteines {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .glucides {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .lipides {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  p {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  span {
    display: block;
    font-size: 14px;
    color: $color-darkgrey;
  }

  img {
    margin-right: 2em;
  }
}

.userContent_activity_nutrition {
  font-size: 12px;
  min-width: 600px;
  max-width: 835px;
  width: 65vw;
  min-height: 300px;
  max-height: 320px;
  height: 35vw;
  border-radius: 10px;
}

.userContent_score {
  display: flex;

  gap: 2rem;
}

.userContentTitle {
  margin-bottom: 5em;
}

.userContentInfos {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.userContentInfos_activity_nutrition {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

@media screen and (max-width: 1024px) {
  .userContentTitle {
    margin-bottom: 1em;
  }
  .nutrition {
    width: 258px;
    .contentNutri {
      width: 258px;
      padding: 2%;
      height: 100px;
      background: #fbfbfb;
    }
  }
}

@media screen and (max-width: 1370px) {
  .userContent {
    margin-left: 8em;
  }
}
