.userContent {
  max-width: 1176px;
  max-height: 779px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  h1 {
    margin-bottom: 0.5em;
  }
  span {
    color: $color-red;
  }
}

.nutrition {
  width: 258px;
  .contentNutri {
    width: 258px;
    padding: 10%;
    height: 124px;
    background: #fbfbfb;
  }
  .calories {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .proteines {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .glucides {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  .lipides {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
  }
  p {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  span {
    display: block;
    font-size: 14px;
    color: $color-darkgrey;
  }

  img {
    margin-right: 2em;
  }
}

.userContent_activity_nutrition {
  display: grid;

  grid-template-areas:
    "d d b"
    "v v b"
    ". . .";
  height: 387px;
}

.userContent_score {
  display: flex;
  width: 810px;
  justify-content: space-between;
}

.userContentTitle {
  margin-bottom: 5em;
}
